<header>
        <p>Ajouter Client</p>
</header> 
   <h1>{{message}}</h1>
   <form #clientForm="ngForm" (ngSubmit)="addClientForm()" action="/list-client"> 
       <ul> 
           <li> 
               <label for="nom">Nom</label> 
               <input type="text" name="nom" id="nom" [(ngModel)]="client.nom" required> 

               <label for="prenom">Prenom</label> 
               <input type="text" name="prenom" id="prenom" [(ngModel)]="client.prenom" required> 

               <label for="email">Email</label> 
               <input type="email" name="email" id="email" [(ngModel)]="client.email" required> 
   
               <label for="adress">Adress</label> 
               <input type="text" name="adress" id="adress" [(ngModel)]="client.adress" required>
               
               <label for="telephone">telephone</label> 
               <input type="text" name="telephone" id="telephone" [(ngModel)]="client.telepone" required> 

               <label for="pseude">pseudo</label> 
               <input type="text" name="pseudo" id="pseudo" [(ngModel)]="client.pseudo" required> 

               <label for="mdp">mdp</label> 
               <input type="text" name="mdp" id="mdp" [(ngModel)]="client.mdp" required> 
           </li>
       </ul> 
                       
      <button type="submit" [disabled]="!clientForm.form.valid">Enregistrer</button> 
   
   </form>