
<div class="slider z-depth-2">
  <ul class="slides">
    <li>
      <img src="assets/images/banque1.jpg" > <!-- random image -->
      <div class="caption center-align">
        <h2 class="white orange-text text-darken-3"> BIENVENUE À LA BANQUE GESTIBANK</h2>
        <a href="" class="btn-large">INFOS</a>
      </div>
    </li>
    <li>
      <img src="assets/images/banque2.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h2 class="white orange-text text-darken-3">OUVRIR UN COMPTE BANCAIRE</h2>
        <a href="" class="btn-large">OUVRIR</a>
      </div>
    </li>
  </ul>
</div>