
<div class="slider z-depth-2">
        <ul class="slides">
          <li>
            <img src="" > <!-- random image -->
            <div class="caption center-align">
              <h3 class="white grey-text text-darken-3">Vider ou remplir votre appartement!</h3>
              <a href="" class="btn">Créer un événement</a>
            </div>
          </li>
          <li>
            <img src=""> <!-- random image -->
            <div class="caption center-align">
              <h3 class="white grey-text text-darken-3">Discuter, négocier, échanger</h3>
              <a href="" class="btn">Créer un événement</a>
            </div>
          </li>
        </ul>
      </div>
